.store {
    &__image {
        width: 100%;
        height: 120px;
        object-fit: cover;
    }
    &__categories {
        list-style-type: none;
    }
    &__info {
        position: relative;
    }
}

.btn-copy {
    position: absolute;
    right: 0;
}