.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24;
  height: 24;
}
.addCategory {
  width: 100%;
  max-width: 400px;
}
.form-info {
  margin-top: -1rem;
  font-size: 0.9rem;
}
.buttons {
  max-width: 250px;
}
